body {
    background-image: url('19505857.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.user {
    margin-top: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    font-size: 16px;
}

form input[type="submit"],
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    border-bottom: 1px solid #ffffff;
}

table th {
    text-align: left;
}

button[type="submit"] {
    background-color: #FF5733;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Additional styles for select and delete buttons */
form button[type="submit"]:hover {
    background-color: #FF8C63;
}
