body {
    background-image: url('19505857.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

/* Add styles specific to the register page */
.register-link {
    display: block;
    margin-top: 20px;
}

